# Database (PostgreSQL Railway)
DATABASE_URL=postgresql://postgres:xrtOLOgzjvXtkEDhmTNIefeIOlBFzOVs@metro.proxy.rlwy.net:43772/railway

# Server
PORT=5000
NODE_ENV=production

# JWT (смени на свой!)
JWT_SECRET=your-super-secret-jwt-key-minimum-32-characters-long

# Frontend URL (Railway домен)
FRONTEND_URL=https://taskbat-git-production.up.railway.app
